<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.when %}
        <div class="call-phone"><strong>When? </strong> {{ site.data.contact.when }} </div>
    {% endif %}
    {% if site.data.contact.where %}
        <div class="call-phone"><strong>Where? </strong> {{ site.data.contact.where }} </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScOfAhzU3F37mHRKL9ghK6-jzMU6JSnwYBb7p9rmnsn3vTUmw/viewform?usp=pp_url&entry.727169202=I+agree" class="button">pre-register</a>
      </div>
    {% endif %}
</div>
