<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.when %}
        <div class="call-phone"><strong>When? </strong> {{ site.data.contact.when }} </div>
    {% endif %}
    {% if site.data.contact.where %}
        <div class="call-phone"><strong>Where? </strong> {{ site.data.contact.where }} </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.signup_button_link }}" class="button">Signup</a>
      </div>
    {% endif %}
</div>
