<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.when %}
        <div class="call-phone"><strong>When? </strong> {{ site.data.contact.when }} </div>
    {% endif %}
    {% if site.data.contact.where %}
        <div class="call-phone"><strong>Where? </strong> <a href="https://www.google.com/maps/place/26379+Fremont+Rd,+Los+Altos+Hills,+CA+94022/@37.3837462,-122.1413213,738m/data=!3m2!1e3!4b1!4m6!3m5!1s0x808fb0666ef43eb5:0x840d7a0ace15ec8f!8m2!3d37.383742!4d-122.1387464!16s%2Fg%2F11bw40p37c?entry=ttu" >{{ site.data.contact.where }}</a> </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSzu9Vo_RI0w1M3BXbC_Nn9CRQIKOWQTMvFauv6y6Pw4LNSg/viewform" class="button">register</a>
      </div>
    {% endif %}
</div>
