---
layout: default
bodyClass: "page-home"
---

<!---- social —-------->

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        <div class="social">
           <div class="col-12">
             <div class="row">
               {% include social.html %}
             </div>
           </div>
        </div>
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!---- schedule v2 —-------->

{% if site.data.schedule %}
  <section id="schedule">
  <div class="strip strip-grey">
    <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
      <h1>Schedule</h1>
      <div class="row justify-content-start">
        <div class="col-12 col-md-8">
          <div class="schedule">
            <table class="schedule-table">
              {% if site.data.schedule.time and site.data.schedule.event and site.data.schedule.entries %}
                <thead>
                  <tr>
                    <th>{{ site.data.schedule.time }}</th>
                    <th>{{ site.data.schedule.event }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for entry in site.data.schedule.entries %}
                    <tr>
                      <td>{{ entry.time }}</td>
                      <td>{{ entry.activity }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endif %}

<!---- company logos —-------->

<!-- {% if site.data.sponsors %}
<section id="sponsors">
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h1>Sponsors and Partners</h1>
    <div class="row justify-content-center">
      {% for sponsor in site.data.sponsors %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="sponsor">
          {% if sponsor.image %}
          <div class="sponsor-image"><img alt="{{ sponsor.title }} logo" src="{{ sponsor.image.url | relative_url }}" width="{{ sponsor.image.width }}" height="{{ sponsor.image.height }}" class="img-fluid" /></div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</section>
{% endif %} -->


<!---- schedule
{% if site.data.schedule %}
<section id="schedule">
  <div class="strip strip-grey">
    <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
      <h1>Schedule</h1>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-borderless table-striped">
               <thead>
                 <tr>
                   <th>Time</th>
                   <th>Event</th>
                 </tr>
               </thead>
               <tbody>
               {% for schedule in site.data.schedule %}
                 {% if schedule.entry %}
                 <tr>
                   <td>{{ schedule.entry.time }}</td>
                   <td>{{ schedule.entry.activity }}</td>
                 </tr>
                 {% endif %}
               {% endfor %}
               </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
{% endif %}
---->
